
body{
    font-family: 'Roboto Condensed',sans-serif;
    margin: 0;
    background: #eee;
    height: auto;

}
main{
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgb(0 0 0 / 10%), -30px 0px 40px rgb(0 0 0 / 10%);
}
#landing{
    background: #fff;
}
#landing-text{
    display: flex;
    flex: 0 1 40vw;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 40vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 1rem;
    padding-left: 1rem;
}


#landing-image{
    background: url(https://source.unsplash.com/De8wMYoSSBc);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex: 0 1 60vw;
    margin: 0;
}
footer{
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}
.btn{
    border: 1px white solid;
    display: inline-block;
    margin: 2rem 0 0;
    border-radius: 50px;
    text-decoration: none;
    color: #333;
    transition-delay: 0s;
}

@media (min-width: 500px){
#landing-text {
    height: 100vh;
}
}
@media(min-width: 700px){
    .btn{
        padding: 1rem 3rem;
    }
}